<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>王者荣耀盒子-文章</title>
    <link rel='shortcut icon' href='static/images/1.jpg'>
    <style>
    #title{
        width: 880px;
        /* height: 800px; */
        margin: -400px 0 0 -440px;
        position: absolute;
        left: 50%;
        top: 50%;
        background-image: url();
        background-repeat: no-repeat;
    }
    </style>

</head>
<body>
    <div id='title'>
        <div class="art_l_conent">
            <div class="art_dtitle">
                <h2>
                    <span id="Ftitle">社交系统优化【妲己宝宝新春爆料第二弹】</span>
                </h2>
            </div>
            <div class="art_dmain" id="pageDetail">
                <p style="text-align: left;">
                    <span style="font-family: 微软雅黑, sans-serif;">亲爱的召唤师：</span>
                </p>
                <p><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">&nbsp;&nbsp;&nbsp; </span>
                    <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                        已经被太子妃洗脑的脑残少女前来爆料！ ~(@^_^@)~王者荣耀不仅带来愉快的开黑体验，
                        小妲己也在这里认识了很多可爱的小伙伴！今天为大家带来【社交】相关的内容爆料，
                    <strong><span style="color:#00B050">据说可以与附近的人开个黑呢！约吗？</span></strong>
                    </span></p>
                    <p class="MsoListParagraph" style="margin-left:28px">
                    <strong><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">一、</span></strong>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">愉快聊天才是硬道理</span>
                    </strong></p><p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">1</span></strong>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">、局内打字聊天功能</span></strong></p>
                    <p style="text-indent: 28px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                        对不起！让大家久等了！期盼已久的局内打字聊天功能即将开放！</span></p>
                    <p style="text-indent: 28px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                        局内打字聊天分为两个频道，对应“我方”和“全体”，“我方”频道的内容仅队友可见，“全体”频道是游戏双方均可看到！切记切记，
                        大家不可为了忙着打字而耽误了战局哦！</span></p><p style="text-align:center">
                        <img src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20160111/1452518649491680.png" 
                        title="1452518649491680.png" alt="blob.png"/></p><p><strong>
                            <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">2</span></strong>
                        <strong><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">、自定义局内快捷消息功能</span>
                        </strong></p><p style="text-indent: 28px">
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                            局内快捷消息功能（屏幕右侧发信号）推出后受到召唤师们的好评，但因为局内情况复杂，
                            我们默认提供的15条消息不能满足所有召唤师个性化的需求，这次更新中我们开放了自定义局内快捷消息的功能来进行完善。</span></p>
                        <p style="text-indent: 28px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">在游戏大厅中，
                        <strong><span style="color:#00B050">选择下方的“备战”按钮，选择“快捷信息”，进入“局内快捷信息界面”。
                        </span></strong>点击修改后，可将右侧备选的快捷信息填入左侧，点击“确定”保存后，
                            就可以在对局内使用自己选择的快捷消息啦~~今后局内交流更方便有木有！</span></p>
                        <p style="text-align:center"><strong><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">
                        <img src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20160111/1452518666571815.png" 
                        title="1452518666571815.png" alt="blob.png"/></span></strong></p><p style="text-align:center"><strong>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">
                        <img src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20160111/1452518672847221.png" 
                        title="1452518672847221.png" alt="blob.png"/></span></strong></p><p><strong>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">3</span></strong>
                        <strong><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">、拉黑功能</span></strong></p>
                        <p style="text-indent: 28px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                            综合频道有人刷小广告GM同学又不能秒速封号很困扰？现在可以点击ta的头像选择拉黑了，拉黑后他的一切发言你都看不到了！</span></p>
                        <p style="text-indent: 28px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                            如果ta是你的好友，你们的好友关系也会立即解除，ta也不能再邀请你游戏。需要解除屏蔽，
                        <strong><span style="color:#00B050">请移步好友的黑名单切页选择解除。</span></strong></span></p>
                        <p style="text-align:center"><strong><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">
                        <img src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20160111/1452518677131386.png" 
                        title="1452518677131386.png" alt="blob.png"/></span></strong></p><p><strong>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">4</span></strong>
                        <strong><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">、结算面板聊天</span></strong></p>
                        <p style="text-indent: 28px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                            一局结束之后是不是有点意犹未尽？现在在结算面板也可以打字聊天了，但是要注意，你的发言会被敌我两方的召唤师看到噢~</span></p>
                        <p style="text-align:center"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                        <img src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20160111/1452518688821560.png" 
                        title="1452518688821560.png" alt="blob.png"/></span></p><p><strong>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">
                             二、一起装x一起飞</span></strong></p><p class="MsoListParagraph" style="margin-left: 24px"><strong>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">1、 </span></strong><strong>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">亲密度系统</span></strong></p>
                        <p style="text-indent: 21px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                            贴心的亲密度系统将在更新后开启，我们会展示好友之间的亲密度，重要的人会排在列表的前面，亲密度爆表的小伙伴将收获意外惊喜噢！</span></p>
                        <p style="text-indent: 21px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                            每一次并肩战斗、赠送礼物和金币，都可以提高你们的亲密度！</span></p><p style="text-indent: 21px">
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">更多亲密度相关玩法正在紧张讨论中，欢迎点赞讨论么么哒！
                        </span></p><p style="text-align:center"><span style="font-size:16px;font-family:宋体">
                        <img src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20160111/1452518695139197.png" 
                        title="1452518695139197.png" alt="blob.png"/></span></p><p><strong>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">2</span></strong>
                        <strong><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">、附近的人</span></strong></p>
                        <p style="text-indent:21px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                            全新社交体验，通过LBS系统<strong><span style="color:#00B050">定位周围的陌生人，添加好友</span>
                            </strong>，与千万玩家一起开团！</span></p><p><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">1</span>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                            ） 通过大厅好友图标进入“好友界面”，选择开启定位，可以搜索到附近同在游戏的陌生人。</span></p>
                        <p style="text-align:center"><span style="font-size:16px;font-family:宋体">
                        <img src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20160111/1452518703659776.png" 
                        title="1452518703659776.png" alt="blob.png"/></span></p><p><span 
                        style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">2</span>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">）点击访问可进入“基本资料”查看对方的基本信息。</span></p>
                        <p><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">3</span>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">）
                            点击“加好友”可进入添加好友界面。小妲己友情提示：唯有姑娘与大神不可辜负！</span></p>
                        <p style="text-align:center"><span style="font-size:16px;font-family:宋体">
                        <img src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20160111/1452518710202245.png" 
                        title="1452518710202245.png" alt="blob.png"/></span></p><p><strong>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">
                        三、战队好基友</span></strong></p><p><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">1</span>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                        、新增战队邮件，队长、副队长可向全体发送战队邮件，以后战队内部通知更方便啦！</span></p>
                        <p><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">2</span>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                        、优化战队一览、战队列表中排序规则，以本赛季战队活跃点进行排序，活跃点越高排名越靠前哦！</span></p>
                        <p><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">3</span>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                        、提升战队人数上限，为了让更多的玩家能够加入战队，我们在原战队人数上限基础上进行了提升，现在战队可以容纳更多的小伙伴啦~~</span></p>
                        <p><strong><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;;color:red">
                        四、赏金赛新赛季</span></strong></p><p><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">1</span>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">、规则调整：</span></p>
                        <p><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">1</span>
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">）
                        新版本中，召唤师消耗一次门票即可开启一轮赏金赛，一轮赏金赛中，可以进行多场比赛；</span></p><p style="text-align:center">
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                        <img src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20160111/1452518723294436.png" 
                        title="1452518723294436.png" alt="blob.png"/></span></p><p><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                        2</span><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">）
                        当一轮赏金赛中，胜场数达到10场，或败场数达到3场的时候，即会结束本轮赏金赛，并根据一轮赏金赛中的胜场数发放奖励，6胜奖励即可获得<strong>
                        <span style="color:#00B050">限定头像框</span></strong>，10胜奖励可获得<strong><span style="color:#00B050">
                        专属限定史诗皮肤</span></strong>！奖励覆盖面更广，也不用辛苦的每天去争夺排名了~！</span></p><p style="text-align:center">
                        <span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">
                        <img src="//ossweb-img.qq.com/upload/webplat/info/yxzj/20160111/1452518731628915.png" 
                        title="1452518731628915.png" alt="blob.png"/></span></p><p><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">3
                        </span><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">）为了让各位召唤师能更灵活的安排时间，
                            <strong><span style="color:#00B050">赏金赛现在的开放时间调整为12：00~24:00</span></strong>，
                            参加时间更灵活了~</span></p><p><br/></p>
        </div>
    </div>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>