<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>王者荣耀盒子-注册</title>
    <link rel='shortcut icon' href='static/images/1.jpg'>
    <link rel='stylesheet' href='static/css/regsiter.css'>
    <script src='static/js/jquery-1.11.3.js'></script>
    <script src='static/js/regsiter.js'></script>
</head>
<body>
    <div class='bg'>
        <img src="static/images/regsiter.jpg" alt="">
    </div>
    <div id='regsiter'>
        <h1>regsiter</h1>
        
        <form method='POST' action='/regsiter'>
            <p>
                <div class='ckname'>{{msg}}</div>
                <input type='text' name='uname' placeholder="请输入用户名">
            </p>
            <p>
                <input type='password' name='upwd' placeholder="请输入密码(长度不小于6位)">
            </p>
            <p>
                <input type='password' name='upwd1' placeholder="请确认密码">
            </p>
            <button class='button'>注册&登录</button>
        </form>
    </div>

   
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>